li {
    margin-bottom: 15px;
}

li span:nth-child(1){
    border: 1px solid red;
    padding: 3px;
    color:red;
}
li span:nth-child(2){
    border: 1px solid blue;
    padding: 3px;
    color:blue;
}
.d-none {
    display: none;
}
#exo3{
    height: 300px;
}
#exo3 span{
    border: 2px solid black;
    padding: 3px;
}